.wc-cal-event {
  position: absolute !important;
}

.wc-header table {
    background-color: #c3d9ff;
    margin: 0;
    border: none;
}

.wc-grid-timeslot-header{
    font-size: 12px;
}

.seleccionar_evento{
    background-color: #00CC00;
}
.grupo_evento_1{
    background-color: rgb(168, 134, 134);
}